services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE:-maviram}
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD:-12345}
      MYSQL_USER: ${MYSQL_USER:-Ida}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-12345}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - MYSQL_HOST=db
      - MYSQL_USER=${MYSQL_USER:-Ida}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-12345}
      - MYSQL_DATABASE=${MYSQL_DATABASE:-maviram}
      - MYSQL_PORT=3306
      - REDIS_URL=redis://redis:6379
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - STRIPE_TEST_KEY=${STRIPE_TEST_KEY}
      - STRIPE_LIVE_KEY=${STRIPE_LIVE_KEY}
    depends_on:
      - db
      - redis

volumes:
  mysql_data:
