/* Updated: 2025-10-20T22:36:36.282Z */
/* Updated: 2025-10-20T13:37:04.114Z */
/* Updated: 2025-10-20T13:19:49.824Z */
/* Updated: 2025-10-20T13:03:04.128Z */
/* Updated: 2025-10-20T12:40:53.267Z */
/* Updated: 2025-10-20T12:23:50.697Z */
/* Updated: 2025-10-20T12:07:05.687Z */
/* Updated: 2025-10-20T11:49:52.266Z */
/* Updated: 2025-10-20T11:32:46.949Z */
/* Updated: 2025-10-20T11:16:02.346Z */
/* Updated: 2025-10-20T10:58:47.245Z */
/* Updated: 2025-10-20T10:41:51.674Z */
/* Updated: 2025-10-20T10:25:08.103Z */
/* Updated: 2025-10-20T10:07:53.055Z */
/* Updated: 2025-10-20T09:51:07.582Z */
/* Updated: 2025-10-20T09:33:55.528Z */
/* Updated: 2025-10-20T07:41:58.234Z */
/* Updated: 2025-10-20T07:24:46.034Z */
/* Updated: 2025-10-20T07:08:01.801Z */
/* Updated: 2025-10-20T06:50:47.214Z */
/* Updated: 2025-10-20T06:33:57.446Z */
/* Updated: 2025-10-20T06:17:13.046Z */
/* Updated: 2025-10-20T06:04:08.051Z */
/* Updated: 2025-10-20T06:03:44.178Z */
/* Updated: 2025-10-20T06:02:55.536Z */
/* Updated: 2025-10-20T06:02:07.832Z */
/* Updated: 2025-10-20T05:11:21.635Z */
/* Updated: 2025-10-20T00:08:45.950Z */
/* Updated: 2025-10-19T23:06:44.728Z */
/* Updated: 2025-10-19T18:05:07.385Z */
/* Updated: 2025-10-19T17:21:44.240Z */
/* Updated: 2025-10-19T13:06:04.824Z */
/* Updated: 2025-10-19T07:17:48.702Z */
/* Updated: 2025-10-18T05:12:54.507Z */
/* Updated: 2025-10-17T23:04:11.094Z */
/* Updated: 2025-10-17T22:35:10.341Z */
/* Updated: 2025-10-17T22:12:09.420Z */
/* Updated: 2025-10-17T20:23:46.988Z */
/* Updated: 2025-10-17T18:59:58.162Z */
/* Updated: 2025-10-17T16:56:09.384Z */
/* Updated: 2025-10-17T15:47:40.080Z */
/* Updated: 2025-10-17T15:47:36.867Z */
/* Updated: 2025-10-17T15:30:18.550Z */
/* Updated: 2025-10-17T15:23:48.886Z */
/* Updated: 2025-10-17T15:22:55.543Z */
/* Updated: 2025-10-17T15:22:04.196Z */
/* Updated: 2025-10-17T15:20:51.076Z */
/* Updated: 2025-10-17T15:18:59.502Z */
/* Updated: 2025-10-17T15:18:08.111Z */
/* Updated: 2025-10-17T15:16:56.544Z */
/* Updated: 2025-10-17T15:14:57.185Z */
/* Updated: 2025-10-17T15:13:39.921Z */
/* Updated: 2025-10-17T15:12:41.667Z */
/* Updated: 2025-10-17T15:11:25.934Z */
/* Updated: 2025-10-17T15:10:45.200Z */
/* Updated: 2025-10-17T15:10:05.291Z */
/* Updated: 2025-10-17T15:08:59.921Z */
/* Updated: 2025-10-17T15:08:20.646Z */
/* Updated: 2025-10-17T15:07:41.046Z */
/* Updated: 2025-10-17T15:07:01.743Z */
/* Updated: 2025-10-17T15:06:06.761Z */
/* Updated: 2025-10-17T15:05:24.080Z */
/* Updated: 2025-10-17T15:04:43.896Z */
/* Updated: 2025-10-17T15:04:04.154Z */
/* Updated: 2025-10-17T15:03:24.812Z */
/* Updated: 2025-10-17T15:02:46.328Z */
/* Updated: 2025-10-17T15:02:05.976Z */
/* Updated: 2025-10-17T15:01:22.740Z */
/* Updated: 2025-10-17T15:00:58.750Z */
/* Updated: 2025-10-17T15:00:34.879Z */
/* Updated: 2025-10-17T15:00:10.518Z */
/* Updated: 2025-10-17T14:59:48.711Z */
/* Updated: 2025-10-17T14:59:22.472Z */
/* Updated: 2025-10-17T14:58:58.547Z */
/* Updated: 2025-10-17T14:58:34.553Z */
/* Updated: 2025-10-17T14:58:09.920Z */
/* Updated: 2025-10-17T14:57:46.618Z */
/* Updated: 2025-10-17T14:37:23.977Z */
/* Updated: 2025-10-17T14:37:11.785Z */
/* Updated: 2025-10-17T14:36:38.730Z */
/* Updated: 2025-10-17T14:35:22.065Z */
/* Updated: 2025-10-17T14:34:43.048Z */
/* Updated: 2025-10-17T14:33:25.707Z */
/* Updated: 2025-10-17T14:32:46.895Z */
/* Updated: 2025-10-17T14:31:29.596Z */
/* Updated: 2025-10-17T14:30:51.115Z */
/* Updated: 2025-10-17T14:29:34.847Z */
/* Updated: 2025-10-17T14:29:33.958Z */
/* Updated: 2025-10-17T14:28:56.220Z */
/* Updated: 2025-10-17T14:27:42.215Z */
/* Updated: 2025-10-17T14:27:02.323Z */
/* Updated: 2025-10-17T14:26:23.598Z */
/* Updated: 2025-10-17T14:25:24.773Z */
/* Updated: 2025-10-17T14:24:45.635Z */
/* Updated: 2025-10-17T14:24:07.126Z */
/* Updated: 2025-10-17T13:19:00.625Z */
/* Updated: 2025-10-17T13:16:12.891Z */
/* Updated: 2025-10-17T13:11:40.858Z */
/* Updated: 2025-10-17T13:07:56.978Z */
/* Updated: 2025-10-17T13:07:41.270Z */
/* Updated: 2025-10-17T13:06:51.419Z */
/* Updated: 2025-10-17T13:04:33.403Z */
/* Updated: 2025-10-17T13:03:48.613Z */
/* Updated: 2025-10-17T13:03:06.671Z */
/* Updated: 2025-10-17T13:02:25.105Z */
/* Updated: 2025-10-17T13:01:45.387Z */
/* Updated: 2025-10-17T13:01:01.065Z */
/* Updated: 2025-10-17T13:00:19.096Z */
/* Updated: 2025-10-17T12:59:35.168Z */
/* Updated: 2025-10-17T12:58:58.467Z */
/* Updated: 2025-10-17T12:58:13.620Z */
/* Updated: 2025-10-17T12:57:32.697Z */
/* Updated: 2025-10-17T12:56:52.486Z */
/* Updated: 2025-10-17T12:56:11.330Z */
/* Updated: 2025-10-17T12:55:31.000Z */
/* Updated: 2025-10-17T12:54:39.357Z */
/* Updated: 2025-10-17T12:53:29.096Z */
/* Updated: 2025-10-17T12:53:18.585Z */
/* Updated: 2025-10-17T12:52:45.031Z */
/* Updated: 2025-10-17T12:52:32.696Z */
/* Updated: 2025-10-17T12:52:10.338Z */
/* Updated: 2025-10-17T12:51:54.726Z */
/* Updated: 2025-10-17T12:51:20.321Z */
/* Updated: 2025-10-17T12:50:53.214Z */
/* Updated: 2025-10-17T12:50:22.851Z */
/* Updated: 2025-10-17T12:49:59.633Z */
/* Updated: 2025-10-17T12:49:18.810Z */
/* Updated: 2025-10-17T12:48:53.617Z */
/* Updated: 2025-10-17T12:48:29.990Z */
/* Updated: 2025-10-17T12:48:04.669Z */
/* Updated: 2025-10-17T12:47:41.429Z */
/* Updated: 2025-10-17T12:47:23.311Z */
/* Updated: 2025-10-17T12:46:52.526Z */
/* Updated: 2025-10-17T12:46:27.430Z */
/* Updated: 2025-10-17T12:46:08.153Z */
/* Updated: 2025-10-17T12:45:39.445Z */
/* Updated: 2025-10-17T12:45:13.215Z */
/* Updated: 2025-10-17T12:44:48.379Z */
/* Updated: 2025-10-17T12:44:14.947Z */
/* Updated: 2025-10-17T12:43:48.568Z */
/* Updated: 2025-10-17T12:43:23.666Z */
/* Updated: 2025-10-17T12:42:51.579Z */
/* Updated: 2025-10-17T12:06:55.960Z */
/* Updated: 2025-10-17T12:01:44.928Z */
/* Updated: 2025-10-17T12:01:11.713Z */
/* Updated: 2025-10-17T11:59:45.504Z */
/* Updated: 2025-10-17T11:59:03.687Z */
/* Updated: 2025-10-17T11:22:16.224Z */
/* Updated: 2025-10-17T10:34:13.143Z */
/* Updated: 2025-10-17T10:21:06.788Z */
/* Updated: 2025-10-16T19:38:49.869Z */
/* Updated: 2025-10-16T15:39:33.966Z */
/* Updated: 2025-10-16T15:39:29.397Z */
/* Updated: 2025-10-16T15:23:19.147Z */
/* Updated: 2025-10-16T14:04:27.255Z */
/* Updated: 2025-10-15T17:47:12.713Z */
/* Updated: 2025-10-15T11:35:49.834Z */
/* Updated: 2025-10-10T13:06:19.961Z */
/* Updated: 2025-10-09T10:45:01.743Z */
/* Updated: 2025-10-09T08:43:27.953Z */
/* Updated: 2025-10-09T06:23:56.472Z */
/* Updated: 2025-10-09T04:50:50.387Z */
/* Updated: 2025-10-09T00:05:44.618Z */
/* Updated: 2025-10-08T23:47:07.801Z */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Hide Next.js error overlay portal */
nextjs-portal {
  display: none !important;
}